<% include top%>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>¡ Bienvenido a CCP !</h1>
        <img src="http://st.depositphotos.com/1000291/4325/i/950/depositphotos_43255779-stock-photo-delivery-man-with-parcel-box.jpg" width="500" height="500" class="img-responsive" alt="Generic placeholder thumbnail" data-pin-nopin="true">
        <p></p>
      <p>Somos una empresa dedicada a la distribucion y venta de productos de consumo masvo a nivel nacional.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Conoce más &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Entregas inmediatas</h2>
        <p>Te aseguramos la entrega de tu pedido en menos de 48 horas. Nuestra flota de más de 2000 camiones está disponible 24/7 para los envíos mas exigentes en territorio colombiano</p>
      </div>
      <div class="col-md-4">
        <h2>Conbertura nacional</h2>
        <p>Tenemos bodegas en las principales ciudades de Colombia. No importa donde se encuentre tu negoio CCP se encargará de entregarte tus productos. </p>

      </div>
      <div class="col-md-4">
        <h2>Atención de primera</h2>
        <p>Nuestra fuerza de ventas está conformada por mas de 250 vendedores a nivel nacional. Ofrecerán servicio personalizado en tu propio negocio para asegurar de suplir todas las necesidades de tu inventario de productos.</p>

      </div>
    </div>
  </div>


<% include bottom%>